<%= form_for(@post) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <% if @post.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@post.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
                <% @post.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :skills %><br>
    <%= f.text_field :skills %>
  </div>
  <div class="field">
    <%= f.label :expire_by %><br>
    <%= f.datetime_select :expire_by %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.time_select :duration %>
  </div>
  <div class="field">
    <%= f.label :report_time %><br>
    <%= f.time_select :report_time %>
  </div>
  <div class="field">
    <%= f.label :maximum_bid %> (in dollars)<br>
    <%= f.text_field :maximum_bid %>
  </div>
  <div class="actions">
    <%= f.submit "Post", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
