<% provide(:title, "Posts") %>
<h1>Posts</h1>
<%= link_to "Create Post", new_post_path%>
<br></br>
<ul class="posts">
  <% @posts.each do |post| %>
      <li>
        <%= gravatar_for User.find(post.user_id) %>
        <%= link_to post.title, post  %>
        <p>by <%= User.find(post.user_id).name%></p>
        <% if current_user.admin? && !current_user?(User.find(post.user_id)) %>
            | <%= link_to "delete", post, method: :delete,
                          data: { confirm: "You sure?" } %>
        <% end %>
        <% if current_user.bid?(post)%>
        <%= "You have bid for this post"%>
            <% else %>
        <%= "You haven't bid for this post"%>
            <% end %>
      </li>
      <br></br>
      <br></br>
  <% end %>
</ul>
