<% provide(:title, 'Posts') %>
<h1>Posts</h1>
<%= link_to "Create Post", new_post_path%>
<ul class="users">
  <% @posts.each do |post| %>
      <li>
        <%= gravatar_for User.find(post.user_id) %>
        <%= link_to post.title, post %>
        <% if current_user.admin? && !current_user?(User.find(post.user_id)) %>
            | <%= link_to "delete", User.find(post.user_id), method: :delete,
                          data: { confirm: "You sure?" } %>
        <% end %> <br></br>
        by <%= User.find(post.user_id).name %>
      </li>
  <% end %>
</ul>
