<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @post.skills %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Expire by:</strong>
  <%= @post.expire_by %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @post.start_date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @post.duration %>
</p>

<p>
  <strong>Report time:</strong>
  <%= @post.report_time %>
</p>

<p>
  <strong>Maximum bid:</strong>
  <%= @post.maximum_bid %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
