<% provide(:title, @post.title) %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for User.find(@post.user_id) %>

        <%= @post.title%>
      </h1>
      <p>by <%= link_to User.find(@post.user_id).name, User.find(@post.user_id) %></p>
      <p><b>Description: </b><%= @post.description%></p>
      <p><b>Skills: </b><%= @post.skills%></p>
      <p><b>Expire by: </b><%= @post.expire_by.strftime("%B %e, %Y at %I:%M %p")%></p>
      <p><b>Start date: </b><%= @post.start_date.strftime("%B %e, %Y") %></p>
      <p><b>Duration: </b><%= @post.duration.strftime("%d days %H hours %M minutes")%></p>
      <p><b>Report time: </b><%= @post.report_time.strftime("%I:%M %p")%></p>
       <% if false%>
        <%= @post.title  %>
      </h1>
      <p>by<%= link_to User.find(@post.user_id).name, User.find(@post.user_id)%></p>
      <p><b>Description: </b><%= @post.description%></p>
      <p><b>Skills required: </b><%= @post.skills%></p>
      <p><b>Start Date: </b><%= @post.start_date.strftime("%B %e, %Y")%></p>
      <p><b>Report time: </b><%= @post.report_time.strftime("%I:%M %p")%></p>
      <p><b>Duration: </b><%= @post.duration.strftime("%d days %H hours %M minutes")%></p>
         <%end%>
      <p><b>Maximum bid: </b>$ <%= @post.maximum_bid%></p>
    </section>
  </aside>
</div>

<%= render 'bid_form'%>
<%= link_to 'Edit', edit_post_path(@post) %>

